<div >
  <p> This section explores the concepts fo data binding the context of Angular , there are 3 types of binding in Angular name property , event and two way
    Property binding is used for data flowing in the component and event binding for data flowing out of your component and finally two way binding
    is a combination of both.
  </p>
<div>

<div class="center">
<select [(ngModel)]="selectedValue">
  <option *ngFor="let c of bindingType" [ngValue]="c">{{c.name}}</option>
</select>


<div *ngIf="selectedValue.name == 'Property'">


  <h2>
    Property Binding
</h2>
<br>

<p>The sum of 1 + 1 is {{1 + 1}}.</p>
</div>


<div *ngIf="selectedValue.name == 'Event'">
  <h2>
    Event Binding
</h2>
<br>
  <p>
    <button (click)="onClickMe()">Say something</button>
    {{clickMessage}}
    </p>
</div>

<div *ngIf="selectedValue.name == 'Two-way'">

  <h2>
    Two way Binding
  </h2>
  <br>


  <input type="text" [(ngModel)]="clickMessage">

  {{clickMessage}}

</div>
<div>


